[submodule "solution"]
	path = solution
	url = git@github.com:Blockly2Java/empty_solution.git
[submodule "template"]
	path = template
	url = git@github.com:Blockly2Java/empty_template.git
[submodule "tests"]
	path = tests
	url = git@github.com:Blockly2Java/empty_tests.git
